---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  ## Automatic checks (should run within seconds on the whole repository)
  - repo: local
    hooks:
      - id: lint-skips
        name: Exceptions to ansible-lint are not made via skip_ansible_lint
        # Use specific "# noqa [rule name] - [description]" comments instead to silence linter errors
        alias: lint-skips
        entry: skip_ansible_lint
        language: pygrep
        types: [yaml]
        exclude: ^\.pre-commit-config\.yaml$

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        # Treat warnings as errors, or pre-commit will hide them
        args: [--strict]
        name: All yaml files pass the yamllint linter

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.4
    hooks:
      - id: shellcheck
        name: All shell files pass the shellcheck linter

  ## Manual checks (these are not fast or specific enough to be run on every commit)

  - repo: https://github.com/ansible/ansible-lint.git
    rev: v6.0.0a0
    hooks:
      - id: ansible-lint
        name: Lint the repository with ansible-lint
        # Only run against ansible-core so missing dependencies are discovered
        additional_dependencies:
          - .[core]
        stages: [manual]
