---
base_ssh_root_login: without-password
base_ssh_root_keys: []
base_sshd_extended_conf: false

base_customer_mirror: apt.changeme.example.com
base_customer_mirror_ip: 1.2.3.4
base_customer_mirror_protocol: http

sysctl_config_user: {}
# should be moved to an extended base role
modules_blacklist_host: []
modules_blacklist_group: []
modules_blacklist:
  net: [dccp, sctp, rds, tipc]
  fs: [cramfs, freevxfs, hfs, hfsplus, jffs2]
  misc: [bluetooth, firewire-core, n_hdlc, net-pf-31, soundcore, thunderbolt, usb-midi]
base_ubuntu_linux_hwe: false
base_install_ethtool_setringmax: true
# base_cpu_governor: performance

base_apt_repo_zone: "{{ apt_repo_zone }}"

# debian version up to which archive mirror urls are configured automatically
#  add the following rule to apt-cacher-ng:
#    Remap-archive: /archive ; http://archive.debian.org/debian
#    Remap-archivesecdeb: /archive-security ; http://archive.debian.org/debian-security
base_apt_debian_archive_version: 9

base_apt_repo_debian_components:
  - main
  - contrib
  - non-free

base_apt_repo_ubuntu_components:
  - main
  - restricted
  - universe
  #  - multiverse

base_apt_repo_no_dns_hack: false

## this normally defaults to 2 which is totally fine
# base_sunrpc_tcp_slot_table_entries: 128
base_sunrpc_tcp_max_slot_table_entries: 128
