[Unit]
Description=Set Ring Parameters for Inteface %I
PartOf=ethtool-setringmax.service
ReloadPropagatedFrom=ethtool-setringmax.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/ethtool-setringmax %I
ExecReload=/usr/local/lib/ethtool-setringmax %I
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
