---
- name: install helm repo key
  copy:
    # Source: https://baltocdn.com/helm/signing.asc
    src: helm.gpg
    dest: /etc/apt/trusted.gpg.d/helm.gpg
  notify: update apt cache

- name: add helm apt repo
  copy:
    content: |
      deb {{ helm_apt_repo_base_url }} all main
    dest: /etc/apt/sources.list.d/helm.list
  notify: update apt cache

- name: Run handlers to update apt cache
  meta: flush_handlers
