---
- name: Check if OS is Debian-based (we do not support others)
  ansible.builtin.debug:
    msg: Check OS family
  failed_when: ansible_os_family != "Debian"

## apt
- name: Apt - install zone and distro specific apt sources.list
  when:
    - ansible_distribution != "Ubuntu" or (ansible_distribution_major_version | int) < 24
  ansible.builtin.template:
    src: "{{ base_apt_repo_zone }}-{{ ansible_distribution | lower }}.list.j2"
    dest: /etc/apt/sources.list
  notify: Update apt cache

- name: Apt - cleanup old sources lists Ubuntu >= 24
  # After an upgrade to Ubuntu 24.04 the base_apt_repo_zone other than upstream
  # are moved to third-party.sources. This will happen with all sources in the old
  # sources.list file. This task tries to clean it up automatically
  when:
    - ansible_distribution == "Ubuntu" and (ansible_distribution_major_version | int) >= 24
    - base_apt_repo_zone != "upstream"
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/third-party.sources
    state: absent
  notify: Update apt cache

- name: Apt - install zone and distro specific apt sources.list for Ubuntu >= 24
  when:
    - ansible_distribution == "Ubuntu" and (ansible_distribution_major_version | int) >= 24
  ansible.builtin.template:
    src: "{{ base_apt_repo_zone }}-{{ ansible_distribution | lower }}-deb822.list.j2"
    dest: /etc/apt/sources.list.d/ubuntu.sources
  notify: Update apt cache

- name: Apt - set /etc/hosts when no dns is available
  ansible.builtin.blockinfile:
    path: /etc/hosts
    marker_begin: "### APT REPO NO DNS HACK - BEGIN ###"
    content: "{{ base_customer_mirror_ip }} {{ base_customer_mirror }}"
    marker_end: "### APT REPO NO DNS HACK - END ###"
  when:
    - base_apt_repo_no_dns_hack | bool
    - base_apt_repo_zone == "intranet"

- name: Apt - update apt cache
  ansible.builtin.meta: flush_handlers

- name: Apt - disable recommends and suggests
  ansible.builtin.copy:
    content: "APT::Install-Recommends \"false\";\n"
    dest: /etc/apt/apt.conf.d/99norecommends

- name: Apt - Install base system tools
  ansible.builtin.apt:
    name:
      - htop
      - curl
      - dstat
      - lsof
      - ethtool
      - gawk
      - psmisc
      - less
      - debian-goodies
      - vim-tiny
      - screen
      - mtr-tiny
      - tcpdump
      - unp
      - aptitude
      - ncurses-term
      - man-db
      - manpages
      - netcat-openbsd
      - dnsutils
      - ioping
    state: present

- name: Apt - Install base system tools (ubuntu)
  ansible.builtin.apt:
    name:
      - linux-tools-common ## contains cpupower (see below)
      - "{% if base_ubuntu_linux_hwe | bool %}linux-tools-generic-hwe-{{ ansible_distribution_version }}{% else %}linux-tools-generic{% endif %}"
    state: present
  when: ansible_distribution == "Ubuntu"

- name: Apt - Install rng tools tools (ubuntu before jammy)
  when:
    - ansible_distribution == "Ubuntu" and (ansible_distribution_major_version | int) <= 20
  ansible.builtin.apt:
    name:
      - rng-tools
    state: present

- name: Apt - Install rng tools tools (ubuntu jammy and later)
  when:
    - ansible_distribution == "Ubuntu" and (ansible_distribution_major_version | int) >= 22
  ansible.builtin.apt:
    name:
      - rng-tools5
    state: present

- name: Apt - (Un)install base system tools (debian stretch and beyond)
  when:
    - ansible_distribution == "Debian"
    - (ansible_distribution_major_version | int) >= 9
    - not base_apt_uninstall_broken
  block:
    - name: Apt - Uninstall base system tools (debian stretch and beyond)
      ansible.builtin.apt:
        name:
          - rngd-rdrand
          - linux-tools
        state: absent

    - name: Apt - Install base system tools (debian stretch and beyond)
      ansible.builtin.apt:
        name:
          - linux-perf
          - linux-cpupower
          - rng-tools5
          - acl
        state: present

- name: Apt - Install base system tools (debian buster and ubuntu focal)
  when:
    ansible_distribution == "Debian" and ansible_distribution_major_version | int >= 10 or ansible_distribution == "Ubuntu" and (ansible_distribution_major_version
    | int) >= 20
  ansible.builtin.apt:
    name:
      - ripgrep
      - fd-find
    state: present

- name: Apt - Install base system tools ubuntu 24 lts
  when: ansible_distribution == "Ubuntu" and (ansible_distribution_major_version | int) == 24
  ansible.builtin.apt:
    name:
      - cgroup-tools
    state: present

- name: Cleanup ubuntu 24.04 lts services
  when: ansible_distribution == "Ubuntu" and (ansible_distribution_major_version | int) == 24
  loop:
    - pmcd
    - pmproxy
    - pmlogger
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: stopped
    enabled: false
    masked: true
  register: unused_disable
  failed_when: unused_disable is failed and ('find' not in unused_disable.msg and 'found' not in unused_disable.msg)

# screen
- name: Remove startup message from screen
  ansible.builtin.lineinfile:
    regexp: ^startup_message
    line: startup_message off
    dest: /etc/screenrc
    mode: "0644"
    create: true
  tags:
    - screen

## sshd
- name: Configure sshd
  ansible.builtin.include_tasks: sshd.yml
  when: not base_sshd_extended_conf
  tags: sshd

- name: Ensure ssh is always restarted
  loop:
    - [Service, Restart, always]
    - [Service, RestartSec, "1"]
    - [Service, RestartPreventExitStatus, " "]
    - [Unit, StartLimitIntervalSec, "0"]
  community.general.ini_file:
    path: /etc/systemd/system/ssh.service.d/override.conf
    owner: root
    group: root
    mode: "0644"
    section: "{{ item[0] }}"
    option: "{{ item[1] }}"
    value: "{{ item[2] }}"
    no_extra_spaces: true
  notify: Restart sshd with systemd reload
  tags: sshd

- name: Set authorized keys for root user
  ansible.posix.authorized_key:
    user: root
    state: present
    exclusive: true
    key: "{{ base_ssh_root_keys | join('\n') }}"
  when: base_ssh_root_keys | length > 0
  tags: sshd

- name: Ssh - seed initial global known_hosts
  loop:
    # https://gitlab.com/gitlab-org/gitlab-foss/-/blob/master/doc/user/gitlab_com/index.md#ssh-host-keys-fingerprints
    - [gitlab.com, ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAfuCHKVTjquxvt6CM6tdG4SLp1Btn/nOeHHE5UOzRdf]
    # https://github.blog/2021-09-01-improving-git-protocol-security-github/#new-host-keys
    - [github.com, ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl]
  ansible.builtin.known_hosts:
    path: /etc/ssh/ssh_known_hosts
    name: "{{ item[0] }}"
    key: "{{ item[0] }} {{ item[1] }}"
    state: present

- name: Ensure /root is not world accessible
  ansible.builtin.file:
    path: /root
    mode: "0700"
    owner: root
    group: root
    state: directory

## blacklist_modules
- name: Disable net/fs/misc kernel modules
  ansible.builtin.lineinfile:
    dest: /etc/modprobe.d/disablemod.conf
    line: install {{ item }} /bin/true
    create: true
    owner: root
    group: root
    mode: "0644"
  with_items:
    "{{ modules_blacklist.net | union(modules_blacklist.fs) | union(modules_blacklist.misc) | union(modules_blacklist_host) | union(modules_blacklist_group)
    }}"

## cron
- name: Allow cron and at for root-only
  ansible.builtin.copy:
    dest: "{{ item }}"
    content: "" # similar to touch, but doesn't log a change for existing files
  with_items:
    - /etc/cron.allow
    - /etc/at.allow

# this task can fail under debian, because atd is not installed by default
- name: Mask atd
  ansible.builtin.systemd:
    name: atd.service
    masked: true
    enabled: false
  ignore_errors: true # noqa ignore-errors - TODO: Find a better way to ignore this potentially failing task

## sysctl
- name: Change various sysctl-settings, look at the sysctl-vars file for documentation
  ansible.posix.sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    sysctl_set: true
    state: present
    reload: true
    ignoreerrors: true
  with_dict: "{{ sysctl_config | combine(sysctl_config_user) }}"
  loop_control:
    label: "{{ item.key }} = {{ item.value }}"
  tags:
    - sysctl

## the options could be set using sysctl as well but only if the sunrpc module
## has been loaded which is not the case for all machines. Doing it via sysctl
## would therefore mark the host changed on every run.
## Also mind that we do neither reload the module nor do we remount all
## NFS volumes here. Both of which would need to be done in order for the settings
## to take effect. The next reboot will take care of it!
- name: Configure default options for sunrpc module
  ansible.builtin.template:
    src: modprobe-sunrpc.conf.j2
    dest: /etc/modprobe.d/sunrpc.conf

## systemd
- name: Make systemd journal persistent (ubuntu)
  ansible.builtin.file:
    path: /var/log/journal
    state: directory
  notify: Initialise persistent systemd journal (ubuntu)
  when: ansible_distribution == "Ubuntu"

- name: Make systemd journal persistent (debian)
  ansible.builtin.file:
    path: /var/log/journal
    state: directory
    group: systemd-journal
  notify: Initialise persistent systemd journal (debian)
  when: ansible_distribution == "Debian"

## misc
- name: Install ethtool-setringmax
  ansible.builtin.import_tasks: ethtool-setringmax.yml
  when: base_install_ethtool_setringmax | bool

- name: Deal with cpu governor
  when:
    - ansible_distribution != "Debian" or (ansible_distribution_major_version | int) >= 9
    - base_cpu_governor is defined
  block:
    - name: Install CPU governor helper
      ansible.builtin.template:
        src: cpu-governor.service.j2
        dest: /etc/systemd/system/cpu-governor.service

    - name: Make sure CPU governor helper is enabled and running
      ansible.builtin.systemd:
        name: cpu-governor.service
        daemon_reload: true
        state: started
        enabled: true

- name: Disable ondemand init script for Ubuntu
  when:
    - ansible_distribution == "Ubuntu"
    - base_cpu_governor is defined
  ansible.builtin.systemd:
    name: ondemand
    enabled: false

- name: Configure floating ips
  when: base_floating_ips is defined
  ansible.builtin.include_tasks: floating_ip.yml

- name: Include applied role
  when: applied_role_enabled | default(false)
  ansible.builtin.include_role:
    name: mgit_at.roles.applied_role
