deb http://{{ base_customer_mirror }}/ubuntu {{ ansible_distribution_release }} {{ base_apt_repo_ubuntu_components | join (' ') }}
deb http://{{ base_customer_mirror }}/ubuntu {{ ansible_distribution_release }}-updates {{ base_apt_repo_ubuntu_components | join (' ') }}
deb http://{{ base_customer_mirror }}/ubuntu {{ ansible_distribution_release }}-security {{ base_apt_repo_ubuntu_components | join (' ') }}
