# debian mirrors
deb https://deb.debian.org/debian {{ ansible_distribution_release }} {{ base_apt_repo_debian_components | join (' ') }}
{% if ansible_distribution_release != "jessie" %}deb http://deb.debian.org/debian {{ ansible_distribution_release }}-updates {{ base_apt_repo_debian_components | join (' ') }}
{% endif %}
{% if ansible_distribution_major_version | int < 11 %}
deb https://deb.debian.org/debian-security {{ ansible_distribution_release }}/updates {{ base_apt_repo_debian_components | join (' ') }}
deb http://security.debian.org/ {{ ansible_distribution_release }}/updates {{ base_apt_repo_debian_components | join (' ') }}
{% else %}
deb https://deb.debian.org/debian-security {{ ansible_distribution_release }}-security {{ base_apt_repo_debian_components | join (' ') }}
deb http://security.debian.org/ {{ ansible_distribution_release }}-security {{ base_apt_repo_debian_components | join (' ') }}
{% endif %}
