kind: EncryptionConfiguration
apiVersion: apiserver.config.k8s.io/v1
resources:
  - resources:
    - secrets
    providers:
    - secretbox:
        keys:
{% for key in kubernetes_encryption_config_keys %}
        - name: key{{ loop.index }}
          secret: {{ key }}
{% endfor %}
    - identity: {}
